# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.manifest
*.spec
build/
dist/

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
env/
venv/
ENV/

# Local settings & logs
*.log
history.json
profiles.json
recordings/
